:root {
  --color-primary: #376aae;
  --color-primary-light: #5590df;
  --color-shadow: rgba(0, 0, 0, 0.5);
  --color-background-primary: #fff;
  --color-text-default: #333;
  --color-button-text: #fff;
  --color-background-secondary: #edf0f6;
  --color-gray-light: #dedede;
  --color-gray-semi: #ccc;
  --color-gray-dark: #aaa;
  --color-note-info: #a9bfe0;
  --color-note-danger: #d2685e;
  --color-note-success: #b9e0a9;
  --color-note-default: #ecdc74;
}
