:root {
  --font-family-default: 'Raleway', sans-serif;
  --font-size-default: 1rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2.2rem;
  --font-weight-default: 400;
  --font-weight-bold: 500;
  --font-weight-extrabold: 600;
}
