:root {
  --font-family-default: 'Montserrat', sans-serif;
  --font-family-ui: sans-serif;
  --font-size-s: 0.75rem;
  --font-size-default: 1rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2.2rem;
  --font-line-height-s: 1rem;
  --font-line-height-default: 1.25rem;
  --font-line-height-l: 2rem;
  --font-weight-default: 400;
  --font-weight-bold: 600;
  --font-weight-extrabold: 800;
}
