.NotesWrapper {
  padding: var(--space-default);
}

.NotesContainer-toolbar {
  display: flex;
  flex-wrap: wrap;
}

button.create-note-button {
  margin-right: var(--space-extra);
  margin-bottom: var(--space-default);
}

div.breadcrump {
  margin-bottom: var(--space-default);
}

div.breadcrump h2 {
  display: inline;
}
