.NotesContainer-wrapper {
  padding: var(--space-default);
}

.NotesContainer-toolbar {
  display: flex;
  flex-wrap: wrap;
}

button.create-note-button {
  margin-right: var(--space-extra);
  margin-bottom: var(--space-default);
}

input.filter-text-input {
  display: inline-block;
  margin: 0 var(--space-default) var(--space-default) 0;
  padding-right: var(--space-extra);
}

.NotesContainer-toolbar div.search-message {
  display: inline-block;
  font-size: var(--font-size-s);
  line-height: var(--font-line-height-default);
  margin-bottom: var(--space-default);
  padding: 0.4rem 0.7rem;
}

.NotesContainer-toolbar div.search-message strong {
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-extrabold);
  margin: 0 var(--space-small);
}

.InputContainer {
  width: 191px;
  height: 36px;
  position: relative;
  margin-right: 20px;
}

.input-clear-button {
  position: absolute;
  display: none;
  top: 50%;
  right: -3%;
  margin-left: -50%;
  transform: translate(-50%, -50%);
  outline: none;
  cursor: pointer;
  transition: color var(--animation-timing-fast) ease-in-out;
}

.input-clear-button:hover {
  color: var(--color-primary);
}

.input-clear-button.visible {
  display: block;
}

div.load-spinner {
  height: 2.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-gray-semi);
  display: flex;
  align-items: center;
  margin-left: var(--space-small);
}
