div.SearchFilter {
  margin-right: var(--space-extra);
  margin-bottom: var(--space-default);
}

div.SearchFilter input.filter-text-input {
  display: inline-block;
  padding-right: var(--space-extra);
}

div.SearchFilter div.search-message {
  display: inline-block;
  color: var(--color-text-success);
  font-size: var(--font-size-s);
  line-height: var(--font-line-height-default);
}

div.SearchFilter div.search-message.no-hits {
  color: var(--color-text-danger);
}

div.SearchFilter div.search-message strong {
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-extrabold);
  margin: 0 var(--space-small);
}

div.SearchFilter .InputContainer {
  display: inline-block;
  width: 191px;
  height: 36px;
  position: relative;
  margin-right: 20px;
}

div.SearchFilter .input-clear-button {
  position: absolute;
  display: none;
  top: 50%;
  right: -3%;
  margin-left: -50%;
  transform: translate(-50%, -50%);
  outline: none;
  cursor: pointer;
  transition: color var(--animation-timing-fast) ease-in-out;
}

div.SearchFilter .input-clear-button:hover {
  color: var(--color-primary);
}

div.SearchFilter .input-clear-button.visible {
  display: block;
}
