.BoardsContainer-wrapper {
  padding: var(--space-default);
}

.BoardsContainer-toolbar {
  display: flex;
  flex-wrap: wrap;
}

button.create-board-button {
  margin-right: var(--space-extra);
  margin-bottom: var(--space-default);
}
