.NoteForm-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.NoteForm-wrapper.hidden {
  display: none;
}

.NoteForm {
  background: var(--color-gray-semi);
  margin: var(--space-small);
  padding: var(--space-default);
  display: inline-block;
}

.shade-click-area {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.one-line-input {
  display: flex;
  margin-bottom: var(--space-default);
}

.one-line-input input {
  border-radius: .25rem 0 0 .25rem;
  flex: 1;
}

.one-line-input button {
  border-radius: 0 .25rem .25rem 0;
}
