div.Board {
  display: flex;
  flex-direction: column;
  margin: 0 var(--space-small) var(--space-small) 0;
  position: relative;
  min-height: 100px;
  width: 280px;
  animation: jumpIn var(--animation-timing-superfast) ease-out;
}

div.Board a {
  flex: 1;
  background-color: var(--color-gray-light);
  border-radius: var(--border-radius-small);
  padding: var(--space-default) var(--space-default) var(--space-extra) var(--space-mega);
  transition: all var(--animation-timing-fast) ease-in-out;
}

div.Board a:hover {
  background-color: #fcfcfc;
}

.Board-toolbar {
  position: absolute;
  bottom: var(--space-default);
  left: var(--space-extra);
}

div.Board::before {
  content: "";
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 1rem;
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
  background-image:
    linear-gradient(
      to top,
      var(--color-note-danger) 0%,
      var(--color-note-danger) 25%,
      var(--color-note-default) 25%,
      var(--color-note-default) 50%,
      var(--color-note-success) 50%,
      var(--color-note-success) 75%,
      var(--color-note-info) 75%,
      var(--color-note-info) 100%
    );
}
