button {
    display: inline-block;
    font-weight: var(--font-weight-bold);
    background-color: var(--color-primary);
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 0;
    color: #ffffff;
    padding: .5rem 1rem;
    font-size:  var(--font-size-default);
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

button:hover {
  background-color: var(--color-primary-light);
}

button.icon-button {
  padding: 0;
  background-color: transparent;
  color: inherit;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  outline: none;
}

button.icon-button.close {
  float: right;
  margin: -.5rem -.5rem 0 0;
}

button.icon-button:hover {
  transform: scale(1.1);
  background-color: rgba(255,255,255,0.9);
  color: var(--color-primary)
}

button.icon-button.danger:hover {
  color: var(--color-note-danger);
}
