button {
    display: inline-block;
    font-weight: var(--font-weight-bold);
    background-color: var(--color-primary);
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 0;
    color: #ffffff;
    padding: .5rem 1rem;
    font-size:  var(--font-size-default);
    border-radius: var(--border-radius-small);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

button:hover {
  background-color: var(--color-primary-light);
}

button.icon-button {
  padding: 0;
  background-color: transparent;
  color: inherit;
  border-radius: var(--border-radius-round);
  width: 2rem;
  height: 2rem;
  outline: none;
}

button.icon-button.close {
  float: right;
  margin: -.5rem -.5rem 0 0;
}

button.icon-button:hover {
  transform: scale(1.1);
  background-color: rgba(255,255,255,0.9);
  color: var(--color-primary)
}

button.icon-button.danger:hover {
  color: var(--color-note-danger);
}

input {
  display: block;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0;
  border-radius: var(--border-radius-small);
}
