button {
  display: inline-block;
  background-color: var(--color-primary);
  line-height: var(--font-line-height-default);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0;
  color: var(--color-button-text);
  padding: 0.5rem 1rem;
  margin: 0 var(--space-default) 0 0;
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-small);
  transition: all var(--animation-timing-fast) ease-in-out;
  cursor: pointer;
}

button.secondary {
  color: var(--color-primary);
  background-color: #fff;
}

button:hover {
  background-color: var(--color-primary-light);
}

button:disabled {
  opacity: 0.8;
  pointer-events: none;
}

button.secondary:hover {
  color: var(--color-primary-light);
  background-color: #fff;
}

button.icon-button {
  padding: 0;
  background-color: transparent;
  color: inherit;
  border-radius: var(--border-radius-round);
  width: 2rem;
  height: 2rem;
  margin: 0;
  outline: none;
}

button.icon-button:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--color-primary);
}

button.icon-button.danger:hover {
  color: var(--color-text-danger);
}

input {
  display: block;
  padding: 0.5rem 0.75rem;
  font-size: var(--font-size-default);
  line-height: var(--font-line-height-default);
  background-color: var(--color-background-primary);
  background-image: none;
  background-clip: padding-box;
  border: 0;
  border-radius: var(--border-radius-small);
}
