.BoardForm {
  background-color: var(--color-gray-light);
  margin: 0 var(--space-small) var(--space-small) 0;
  display: inline-block;
  width: 280px;
  position: relative;
  border-radius: var(--border-radius-small);
  animation: fadeIn var(--animation-timing-fast) ease-out;
}

.BoardForm .inner-wrapper {
  padding: var(--space-default);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
